*.mat
*.asv

.ipynb_checkpoints/*
Figures/v1/figure1/.ipynb_checkpoints/*
Figures/v1/figure2/.ipynb_checkpoints/*
Figures/v1/figure3/.ipynb_checkpoints/*
Figures/v1/figure4/.ipynb_checkpoints/*
Figures/v1/extra/.ipynb_checkpoints/*
Figures/v2/figure1/.ipynb_checkpoints/*
Figures/v2/figure2/.ipynb_checkpoints/*
Figures/v2/figure3/.ipynb_checkpoints/*
Figures/v2/figure4/.ipynb_checkpoints/*
Figures/v2/figure5/.ipynb_checkpoints/*
Figures/v2/extra/.ipynb_checkpoints/*
*.csv
*.xlsx
*.m~
*.pdf
*.svg
*.zip
